<h3>Template driven forms</h3>
<form #myForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">
  <label>Name</label>
  <input #usercontrol="ngModel" type="text" name="username" [(ngModel)]="username" required/>
  <span *ngIf="usercontrol.invalid && usercontrol.errors?.required">Name required</span>
  <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>
{{myForm.valid}}
{{usercontrol.errors | json}} 

<h3>Reactive forms</h3>
<form [formGroup]="profileForm" (ngSubmit)="onReactiveSubmit()">
  <label>First name</label>
  <input type="text" name="firstname" formControlName="firstname" required/>
  <span *ngIf="profileForm.controls.firstname.invalid">First name required</span>
  <div></div>
  <label>Last name</label>
  <input type="text" name="lastname" formControlName="lastname" required/>
  <span *ngIf="profileForm.controls.lastname.invalid">First name required</span>
  <button type="submit" [disabled]="profileForm.invalid">Submit</button>
</form>
child component data - {{childData}}

<h3>Child component</h3>
<app-child [data]="username" [data1]="profileForm.controls.firstname.value"></app-child>


